.all-email-container {
  display: flex;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 10;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  top: 65%;
  right: 0;
  left: 40px;
  box-sizing: border-box;
  border: 1px solid #7e7a7a14;
  position: absolute;
  scrollbar-width: 0;

  > p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    > span {
      width: 41px;
      height: 41px;
      border-radius: 50%;
      background-color: #ffebeb;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    > button {
      width: 154px;
      height: 31px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      color: #767575;
      border: 1px solid #e2e2e2;
      border-radius: 8px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}

.all-email-container::-webkit-scrollbar {
  display: none;
}
