.task-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-card h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.task-card p {
  font-size: 14px;
  color: black;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > svg {
    size: 25;
    font-size: 18px;
    padding: 2px 3px;
    color: #767575;
    background-color: #eeecec;
  }
}

.task-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > p {
    font-size: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.card-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  width: 80px;
  height: 80px;
  box-shadow: 0px 2px 22px 0px #7e7a7a40;
  position: absolute;
  z-index: 2;
  background-color: white;
  left: -80px;
  top: 14px;
  justify-content: space-between;
  align-items: flex-start;
  > button {
    font-size: 14px;
    line-height: 21px;
    color: black;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
  }
  .delete {
    color: #cf3636;
  }
}

.task-color {
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.task-assigned-to {
  color: black;
  background-color: #ffebeb;
  justify-content: center;
  align-items: center;
}

.todo-tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;

  > label {
    margin-top: 5px;
  }
}

.task-item input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #17a2b8;
}

.task-item label {
  font-size: 14px;
  color: black;
}

.task-item .completed {
  text-decoration: line-through;
  color: #888;
}

.task-card .task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #707070;

  > div {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    > span {
      border-radius: 5px;
      padding: 2px 4px;
      background-color: #eeecec;
      cursor: pointer;
    }
  }
}

.date {
  background-color: #eeecec;
  border-radius: 5px;
  padding: 2px 4px;
}

.task-footer .priority {
  font-weight: bold;
}

.priority-low {
  color: #4bce97;
}
.priority-moderate {
  color: #00a9ff;
}
.priority-high {
  color: #e44258;
}

.priority-bg-low {
  background-color: #4bce97;
}
.priority-bg-moderate {
  background-color: #00a9ff;
}
.priority-bg-high {
  background-color: #e44258;
}

.shared-task-toast {
  position: absolute;
  top: 20px;
  right: 55px;
  padding: 20px;
  width: 205px;
  height: 62px;
  border: 1px solid #48c1b5;
  box-shadow: 0px 4px 16px 0px #100b2714;
  font-weight: 600;
  color: #27303a;
  font-size: 16px;
  line-height: 22.4px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
